/* Etiqueta html trae el tamaño y tipo de fuente */
/* Inherit es heredar el tamaño de fuente */
html {
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: inherit;
}